<ion-view view-title="Dashboard">
   <ion-content lazy-scroll class="padding width-container" header-shrink scroll-event-interval="5" class="main-list">
      <ion-refresher
         pulling-text="Pull to refresh..."
         on-refresh="$scope.$broadcast('scroll.refreshComplete');">
         </ion-refresher>
      
         <div class="list card" ng-repeat="item in feed" >
            <div class="item item-avatar" ion-affix >
               <img  class="avatar-img" ng-src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/10620534_10152257094941646_8670151155614653129_n.jpg?oh=b5f79b54faaa343ff0a4a32c7fdf2da9&oe=55F1F849">
               <h2 >James Gallagher</h2>
               <p>@james</p>
            </div>
            <div class="item item-body">
               <img   class="full-image" image-lazy-loader="lines" image-lazy-src="{{item.face}}"  image-lazy-distance-from-right-to-load="100" >
            </div>
            <div class="item item-divider">
               <i class="icon ion-ios-heart-outline"></i>
               <i class="icon comment ion-ios-chatbubble-outline"></i>
            </div>
         </div>
      
      <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll> 
   </ion-content>
</ion-view>