<ion-view view-title="Sign-In"  >
        <ion-content  id="thisPane" class="pane">

           <h1 id="title" style="font-size:50px!important;font-weight:400!important;
            margin:0 auto; text-align:center; margin-top:30%;" class="title">WRISTCHECK</h1>

         <div class="list list-inset" style="margin-top:60px">
  <label class="item item-input">
    <input type="text" placeholder="Username" style="opacity:0.8">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Password" style="opacity:0.8">
  </label>
</div>

          <div class="padding" style="max-width:300px;">
            <button class="button button-block button-dark" ng-click="signIn(user)">
              Sign-In
            </button>
         

              <button  class="button  button-block button-dark" ng-click="register(user)">
              Register </button>
           
          </div>
        </ion-content>
      </ion-view>