<ion-view view-title="Account">
<ion-content has-header="true" >
      <div id="profile-bg"></div>
      <div id="content">
        <div id="profile-info">
      

          <img id="profile-image" src="css/placeholder.png">
          <h3 id="profile-name"> JAMES </h3>
           <span id="profile-description">Owner of a Rolex Explorer 1, built Wristcheck</span>
          <h3 id="profile-name"> <button style="margin:0 auto; " class="button button-small button-outline button-dark" 
            >
  See all posts by James
</button> </h3>

         
         
         
	
          <div style="text-align:centre; color:white; background-color:#273036 !important; border:none; "class="item item-divider">James's Collection
    
  </div>
      </div>

           <ion-slide-box show-pager="false" style="margin-top:-17px !important; width:100%; !important; height:100%;">
    <ion-slide>
    	 <h1 class="slideText" style="z-index:100">Rolex Explorer 1</h1>
      <img style="z-index:-1; " width="100%" src = "http://res.cloudinary.com/dgbgja46a/image/upload/w_900,h_900/v1436874215/yf6kszeevq2ddohayzuu.jpg">
    </ion-slide>
    <ion-slide>
    <h1 class="slideText" style="z-index:100">IF THERE'S ONE MASSIVE PLUS TO CHINESE MANUFACTURING AND GLOBALISATION IT IS THAT IDEAS CAN SPREAD FREELY/EXTREMELY CHEAPLY - ENLIGHTENING ANYONE INTERESTED.</h1>
      <img width="100%" src = "http://res.cloudinary.com/dgbgja46a/image/upload/w_900,h_900/v1436874215/yf6kszeevq2ddohayzuu.jpg">
    </ion-slide>
     <ion-slide>
     <h1 class="slideText" style="z-index:100">First Slide!</h1>
      <img width="100%" src = "http://res.cloudinary.com/dgbgja46a/image/upload/w_900,h_900/v1436871667/lph7edrouuaqxw6oruyq.jpg">
    </ion-slide>
     <ion-slide>
     <h1 class="slideText" style="z-index:100">First Slide!</h1>
      <img width="100%" src = "http://res.cloudinary.com/dgbgja46a/image/upload/w_900,h_900/v1436874215/yf6kszeevq2ddohayzuu.jpg">
    </ion-slide>
         <ion-slide width="100%" style="width:100%; min-height:400px">
			<button style = "  margin:0 auto; display:block; margin-top:100px;" class="button button-large button-dark">
  Add A Piece
</button>    
    </ion-slide>
  </ion-slide-box>
    </ion-content>
    
</ion-view>
