<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{server.name}}  {{period}}">
  <ion-content class="padding">






<div class="list card">
  
  <img id="graph" src="https://admin.accelerated.de/jsonUserApi.php?action=getServerStats&serverID=1571&auth=S3hsPd8VcKjs&type={{period| lowercase}}"></img>
   

</div>
<div class="ion-footer-bar">
<div class="button-bar">
  <a   ng-click="toHour()" class="graphBtn button button-stable">Hour</a>
  <a   ng-click="toDay()" class="graphBtn button button-stable">Day</a>
  <a   ng-click="toWeek()" class="graphBtn button button-stable">Week</a>
    <a  ng-click="toMonth()" class="graphBtn button button-stable">Month</a>
        <a  ng-click="toYear()" class="graphBtn button button-stable">Year</a>

</div>

</div>
  </ion-content>

</ion-view>
