
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <!-- map Tab -->
  <ion-tab title="Map" icon-off="ion-map" icon-on="ion-map" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <!-- request Tab -->
  <ion-tab title="Requests" icon-off="ion-archive" icon-on="ion-archive" href="#/tab/requests">
    <ion-nav-view name="tab-requests"></ion-nav-view>
  </ion-tab>

  <!-- reponse Tab -->
  <ion-tab title="Responses" icon-off="ion-alert" icon-on="ion-alert" href="#/tab/responses">
    <ion-nav-view name="tab-responses"></ion-nav-view>
  </ion-tab>

</ion-tabs>
