@font-face {
font-family: "Mohave";
src: url("../fonts/Mohave-SemiBold.otf") format("opentype");
}
.fake-statusbar {

  height: 20px;
  max-height: 20px;
  font-size: 12px;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  color: #fff;
  padding: 2px 3px 3px 3px;
}
.fake-statusbar .time {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
.fake-statusbar .pull-left { float: left; }
.fake-statusbar .pull-right { float: right; }

.title{
  font-family:"Mohave";
  font-size:25px !important;
}
.bar-header {
  height: 50px !important
}
.bar-header > * {
  margin-top: 20px !important;
}

.scroll-content{
  top:0 !important
}
/* Empty. Add your own CSS if you like */

.icon{
  font-size: 28px;
}

.main-list{
  margin-top: 100px;  
}
.comment{
  margin-left: 12px;
}
.scroll{
  margin-top: 50px;
}
.ionic-scroll{
  padding:0 !important;
}
.white-font{
  color:white;
}

.bar {
   background-color: #2ECC71;
   border-color:
}

.full-image{
   overflow-x: hidden; overflow-y: hidden;
  margin-bottom:-5px;
 
}
.bar .title {
  top:-16px;
  color:white !important;
}
.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none;
    border-bottom: none;
 
}

.card{
      box-shadow: 0 4px 4px -2px #807d7d;
         -moz-box-shadow: 0 4px 4px -2px #807d7d;
    -webkit-box-shadow: 0 4px 4px -2px #807d7d;
}

.item-body
{
 
   overflow-x: hidden; overflow-y: hidden;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;

}
.full-image{
  height:300px;
}
.width-container{
  overflow:hidden;
  max-width: 500px;
  margin:0 auto;
  margin-bottom: -45px;
}

.item h2 {
  font-size:12px !important;
}
.item-avatar{
  height:57px !important;
  min-height:50px;
}
.avatar-img{
  top:10px !important;
}
.item p {
  font-size:11px;
}

.image-loader-container{
  padding-top: 125px;
  min-height:300px;
  background-color:#27AE60 !important;
}
.image-loader{
  margin-left: 47%;
}
.tabs{
  border-top: 0px;
}
.tab-nav{
  background-color:#2ECC71;
}
.tab-item-active{
  background-color:#27AE60;

}
.icon{
  color:white;
}
.ion-ios-heart-outline{
  color:#364685;
}
.ion-ios-chatbubble-outline{
  color:#364685;
}
.tab-title{
  color:white;
}
