<ion-view view-title="Dashboard">

  <ion-content class="padding width-container" header-shrink scroll-event-interval="1">
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="$scope.$broadcast('scroll.refreshComplete');">
  </ion-refresher>
    <ion-list class="main-list">
    <div class="list card">
       <div class="item item-avatar">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/10620534_10152257094941646_8670151155614653129_n.jpg?oh=b5f79b54faaa343ff0a4a32c7fdf2da9&oe=55F1F849">
    <h2>James Gallagher</h2>
    <p>@james</p>
 

      </div>
      <div class="item item-body">
          <img class="full-image" src="http://people.fas.harvard.edu/~crodgers/lange/lange_1815UpDownWalterLange_wrist.jpg">
      </div>
      <div class="item item-divider">
          <i class="icon ion-ios-heart-outline"></i>
          <i class="icon comment ion-ios-chatbubble-outline"></i>
         
      </div>
    </div>
      <div class="list card">
      
        <div class="item item-avatar">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/10620534_10152257094941646_8670151155614653129_n.jpg?oh=b5f79b54faaa343ff0a4a32c7fdf2da9&oe=55F1F849">
    <h2>James Gallagher</h2>
    <p>@james</p>
 

      </div>
      <div class="item item-body">
          <img class="full-image" src="http://i74.photobucket.com/albums/i261/Chuckanastos/Rolex%205513%20MilSub/WristShot.jpg">
      </div>
      <div class="item item-divider">
           <i class="icon ion-ios-heart-outline"></i>
          <i class="icon comment ion-ios-chatbubble-outline"></i>
      </div>
    </div>
      <div class="list card">
          <div class="item item-avatar">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/10620534_10152257094941646_8670151155614653129_n.jpg?oh=b5f79b54faaa343ff0a4a32c7fdf2da9&oe=55F1F849">
    <h2>James Gallagher</h2>
    <p>@james</p>
 

      </div>
      <div class="item item-body">
          <img class="full-image" src="http://i20.photobucket.com/albums/b238/osclom/speedmaster%20pro/wristshot1.jpg">
      </div>
      <div class="item item-divider">
           <i class="icon ion-ios-heart-outline"></i>
          <i class="icon comment ion-ios-chatbubble-outline"></i>
      </div>
    </div>
      <div class="list card">
          <div class="item item-avatar">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/10620534_10152257094941646_8670151155614653129_n.jpg?oh=b5f79b54faaa343ff0a4a32c7fdf2da9&oe=55F1F849">
    <h2>James Gallagher</h2>
    <p>@james</p>
 

      </div>
      <div class="item item-body">
          <img class="full-image" src="http://people.fas.harvard.edu/~crodgers/lange/lange_1815UpDownWalterLange_wrist.jpg">
      </div>
      <div class="item item-divider">
           <i class="icon ion-ios-heart-outline"></i>
          <i class="icon comment ion-ios-chatbubble-outline"></i>
      </div>
    </div>
  </ion-content>
   </ion-list>
</ion-view>

